################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/chatRbox/bin
/chatRbox/Content/hart.min.css
/chatRbox/Content/hart.less
/chatRbox/Content/hart.css
/chatRbox/obj
/chatRbox/Properties/PublishProfiles
/packages
/chatRbox.sln
/chatRbox/Properties
/chatRbox/Web.Release.config
/chatRbox/Web.Debug.config
/chatRbox/Web.config
/chatRbox/Startup.cs
/chatRbox/packages.config
/chatRbox/Global.asax.cs
/chatRbox/Global.asax
/chatRbox/compilerconfig.json.defaults
/chatRbox/compilerconfig.json
/chatRbox/chatRbox.csproj.user
/chatRbox/chatRbox.csproj
/chatRbox/Content/site.min.css
/chatRbox/Content/site.less
/chatRbox/Content/site.css
/chatRbox/Views/web.config
/chatRbox/Scripts/jquery-3.1.1.min.map
/chatRbox/Scripts/jquery-3.1.1.slim.min.map
/chatRbox/Scripts/jquery-3.1.1.slim.min.js
/chatRbox/Scripts/jquery-3.1.1.slim.js
/chatRbox/Scripts/jquery-3.1.1.intellisense.js
